.text-right{
    text-align: right;
}
.login-div{
    
    -webkit-box-shadow: 0 0 10px white;
        box-shadow: 0 0 10px white;
        margin-top: 10%;
}
.background{
    background-image: url("../../../assets/signup.jpeg") ;
    height: 100vh;
    /* background-position: top center; */
}