<div class="container-fluid background img-fluid">

  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="square-jelly-box">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>

  <div class="row p-0 m-0" >

    <div class="col-sm"></div>

    <div class="col-sm p-5 login-div">

        <h2 class="form-signin-heading" style="color:white; text-align:center">Password Reset</h2>
  
        <label for="inputPassword" class="sr-only">Password</label>
  
        <input type="password" id="inputPassword" class="form-control" [(ngModel)]="password" placeholder="Password" required>
  
        <br>
  
        <label for="inputPassword" class="sr-only">Confirm Password</label>
  
        <input type="password" id="inputPassword1" class="form-control" [(ngModel)]="confirmPassword" placeholder="Password" required>
  
        <br>
  
        <button class="btn btn-lg btn-primary btn-block" type="button" (click)="resetPassword()">Change Password</button>
  
      </div>
  

    <div class="col-sm"></div>

  </div>

</div>